{% if nbProduit == 0 %}
    <span class="badge badge-pill badge-danger">{{ nbProduit }}</span>
{% endif %}

{% if nbProduit != 0 %}
    <span class="badge badge-pill badge-info">{{ nbProduit }}</span>
{% endif %}