{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="card col-md-6 offset-3">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_default_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-comments"></i>
                Garder le contact </h3>
        </div>
        <div class="card-body">
            <div class="card clickable"
                 onclick="location = '#TODO'">
                <img src="{{asset("images/iut2_info.png")}}" class="card-img" alt="logo IUT2">
                <div class="card-body">
                    <h1 class="card-title">
                        <i class="fas fa-code"></i>
                        BUT INFO Semestre 4</h1>
                    <h2 class="card-title">
                        <i class="fab fa-symfony"></i>
                        Module R4.01</h2>
                    <p>
                        <i class="far fa-copyright"></i>
                        Ph. Martin, 2022/24</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

