{% extends 'base.html.twig' %}

{% block title %}
	{{ 'default.index.header' | trans }}
{% endblock %}

{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h3>
				<i class="fas fa-home"></i>
				{{ 'default.index.title' | trans }}
			</h3>
		</div>
		<div class="card-body">
			<div class="card clickable" onclick="location = '{# TODO #}'">
				<img src="{{asset("images/epicerie.jpg")}}" class="card-img-top" alt="Logo Boutique"/>
				<div class="card-body">
					<p class="card-text">
						<i>{{ 'default.index.rien' | trans }}</i>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
