{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
		default.index.acceuil
	{% endtrans %}
{% endblock %}

{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h3>
				<i class="fas fa-home"></i>
				{% trans %}
					default.index.nom_boutique
				{% endtrans %}
			</h3>
		</div>
		<div class="card-body">
			<div class="card clickable" onclick="location = '{# TODO #}'">
				<img src="{{asset("images/epicerie.jpg")}}" class="card-img-top" alt="Logo Boutique"/>
				<div class="card-body">
					<p class="card-text">
						<i>
							{% trans %}
								default.index.message_rien_a_vendre
							{% endtrans %}
						</i>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
